body{
    padding: 0;
    top: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif
}

header{
    padding: 20px;
}
article{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    color: rgb(109, 49, 69);
}

p{
    width: 200px;
    margin: auto;
    background-color: pink;
    padding: 20px;
    border-radius: 20px;
}

#img1{
    margin-right: auto;
    width: 200px;
}

hr{
    height: 3px;
    background-color: rgb(110, 36, 36);
}

h1{
    border-radius: 10px;
    width: 600px;
    margin: auto;
    text-align: center;
    color: palevioletred;
}

#legenda{
    padding: 20px;
    background-color: rgb(255, 255, 255);
    width: 110px;
    border-radius: 30px;
    position: absolute;
    color: rgb(118, 41, 54);
    box-shadow: 0 4px 10px rgba(79, 27, 27, 0.3);
    top: 200px;
    left: 200px;
}

#legenda1{
    padding: 20px;
    background-color: rgb(255, 255, 255);
    width: 110px;
    border-radius: 30px;
    position: absolute;
    color: rgb(55, 55, 55);
    box-shadow: 0 4px 10px rgba(79, 27, 27, 0.3);
    top: 450px;
    right: 100px;
}

#legenda2{
    padding: 20px;
    background-color: rgb(233, 255, 234);
    width: 200px;
    border-radius: 30px;
    position: absolute;
    color: rgb(41, 102, 64);
    box-shadow: 0 4px 10px rgba(79, 27, 27, 0.3);
    top: 1000px;
    right: 100px;
}


#img1{
    border: 3px solid rgb(139, 40, 75);
}

ol{
    color: gray;  
}

ul{
    color: gray;    
}

.section3A{
    text-align: center;
}

.papaya{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: right;
    padding: 15px;
}

.papaya img {
    width: 200px;
    transition: transform 0.2s;
}

.papaya img:hover {
    transform: scale(1.05);
}

footer{
    background-color: palevioletred;
    padding: 10px;
    bottom: auto;
}

#waritsover{
    display: flex;
    align-items: center;
    gap: 8px; /* espaço entre o ícone e o link */
}