body{
    padding: 0 auto;
    margin: 0 auto;
    top: 0;
    background-color: black;
}
header{
    width: 1480px;
    background: #692727;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
div{
    justify-content: space-around;
    display: flex;
    color: aliceblue;
    text-align: center;
}
section{
    color: aliceblue;
}
.box:hover{
    transform: scale(1.1);
}
.box{
    transition: transform 0.8s;
}
article{
    background-color: rgb(27, 27, 27);
    border-radius: 10px;
}

p{
    color: rgb(173, 173, 173);   
}

nav{
    display: flex;
    justify-content: flex-end;
    color: white;
}

footer{
    color: black;
    width: 1520px;
    text-align: center;
    margin-bottom: auto;
    background-color: #692727;
    margin-top: 20px;
}
